@import "Base.css";

.all-stories {
  padding: 20px;
}

.story {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.story-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.story-details {
  margin-bottom: 10px;
}

.story-details b {
  font-weight: bold;
}

.author {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.published-at {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.locations-list {
  margin-top: 10px;
  padding-left: 20px;
}

.locations-list li {
  margin-bottom: 5px;
}

.comment-container {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 50%;
  min-width: 600px;
}

.comment-body {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user,
.comment-like-delete {
  display: flex;
  align-items: center;
}

.comment-like-delete p {
  margin: 0; /* Remove default paragraph margin */
}

.comment-text {
  margin-top: 10px;
}

.username {
  font-size: 1em;
  color: #007bff;
  text-decoration: none;
}
