@import "Base.css";

.user-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-component h2 {
  margin-bottom: 5px;
}

.user-component p {
  margin-bottom: 10px;
}

.user-component label {
  font-weight: bold;
}

.user-component img {
  max-width: 100px;
  max-height: 200px;
  margin-bottom: 10px;
}

.user-component form {
  margin-bottom: 10px;
}

.user-component input[type="file"] {
  margin-bottom: 10px;
}

.user-component input[type="text"] {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-component button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-component button:hover {
  background-color: #5aabee;
}