nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav a {
  margin-right: 10px;
}

.dutluk-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}